<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="HomePageController as HomePageCtrl">
<head>
    <meta charset="UTF-8">
    <title>Home Page </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="home/HomeCss.css">
    <SCRIPT SRC="../angular.js"></SCRIPT>
    <SCRIPT SRC="../angular-route.js"></SCRIPT>
    <script src="../client.js"></script>
</head>
<body>

<div class="container">
    <div class="col-md-6" ng-init="hotFive()">
        <div class="container">
            <div class="row row-centered">
                <!--Result object -->
                <h2>Hot 5 Of Ours Product</h2>
                <div class="col-md-3 col-centered" ng-repeat=" item in returnItems">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{item.name}}</div>
                        <div class="panel-body"></a><img src="{{item.image}}" class="img-responsive" alt="Image"
                                                         ng-click="openDialog(item)"></a></div>
                        <div class="panel-footer">Description: {{item.discription}}</div>
                        <div class="panel-footer">Price: {{item.price}} ₪</div>
                        <div class="panel-footer">Size: {{item.size}}</div>
                        <div class="panel-footer">Color: {{item.color}}</div>
                        <div class="panel-footer">Brand: {{item.brand}}</div>
                        <div class="panel-footer">Sales Number: {{item.salesNumber}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" ng-init="NewItems()" style="display: block">
            <div class="container">
                <div class="row row-centered">
                    <!--Result object -->
                    <h2>Product From Last Month</h2>
                    <div class="col-md-3 col-centered">
                        <div class="panel panel-success" ng-repeat=" item in returnNewItems ">
                            <div class="panel-heading">{{item.name}}</div>
                            <div class="panel-body"></a><img src="{{item.image}}" class="img-responsive" alt="Image" ></a></div>

                            <div class="panel-footer">Description: {{item.discription}}</div>
                            <div class="panel-footer">Price: {{item.price}} ₪</div>
                            <div class="panel-footer">Size: {{item.size}}</div>
                            <div class="panel-footer">Color: {{item.color}}</div>
                            <div class="panel-footer">Brand: {{item.brand}}</div>
                            <div class="panel-footer">Sales Number: {{item.salesNumber}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


</body>
</html>
