<!DOCTYPE html>
<html lang="en" ng-app="myApp" >
<head>
    <meta charset="UTF-8">
    <title>Home Page </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <SCRIPT SRC="../angular.js"></SCRIPT>
    <SCRIPT SRC="../angular-route.js"></SCRIPT>
    <script src="../client.js"></script>
    <script src="loginControler.js"></script>
</head>
<body>



<div ng-controller="loginController as loginCtr">
    <form class="form-horizontal" ng-submit="checkDetailsOnClick()">
        <fieldset>
            <legend><h1>Log In</h1></legend>
            {{test}}
            <div class="form-group">
                <label for="inputUsername" ng-model="userName" class="col-lg-2 control-label"> User Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputUsername" placeholder="userName">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password"  ng-model="password" class="form-control" id="inputPassword" placeholder="Password">

                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="checkDetailsOnClick()">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>



</body>
</html>




































































































